body {
	margin: 0;
	overflow: hidden;
	font-size: 20px;
	font-weight: 200;
	font-family: fantasy;
}
.container {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
	background-color: rgb(177, 177, 177);
}
.button {
	display: flex;
	position: relative;
	/*right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;*/
	width: 100px;
	height: 100px;
	background-color: seagreen;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: center;
	white-space: nowrap;
	/* filter: drop-shadow(5px 5px 5px rgb(0,0,0,0.3)); */
}
.button::after {
	content: attr(data-tooltip);
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/* z-index: -1; */
	/*width: 100%;*/
	/*height: 100%;*/
	background-color: rgb(255, 149, 167);
	justify-content: center;
	align-items: center;
	transform: scaleX(0);
	transform: translateX(-100%);
	/*transform-origin: left;*/
	transition: transform ease-in-out 100ms;
	/* visibility: hidden; */
}
.button:hover::after,
.button:focus::after {
	/* visibility: visible; */
	/* display: flex; */
	/* z-index: unset; */
	transform: scaleX(1);
	/*transform: translateX(0%);*/
}

.button-ripple {
	/*display: flex;*/
	position: relative;
	/* right: 0; */
	/* left: 0; */
	/* top: 0; */
	/* bottom: 0; */
	/* margin: auto; */
	width: 100px;
	height: 100px;
	background-color: yellow;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
}
.button-ripple::after {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	/* margin: 0; */
	background-color: rgb(255, 255, 255);

	border-radius: 1000px;
	/* transform-origin: left; */
	/* transform: scale(0%); */
	/* opacity: 1; */
	/* transition: width, height, opacity linear 10s; */
}
.button-ripple:hover::after {
	/* width: 100px; */
	height: 100px;
	/* transform: scale(200%); */
	/* opacity: 0; */
	animation: ripple 3s linear;
}
@keyframes ripple {
	0% {
		transform: scale(0);
		opacity: 0.5;
	}
	100% {
		transform: scale(10);
		opacity: 0;
	}
}
/*  */
.impact {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: violet;
}
.impact::after {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 500vh;
	height: 0vh;
	/* margin: 0; */
	background-color: rgb(255, 255, 255);
	border-radius: 1000px;
	/* transform-origin: left; */
	/* transform: scale(0); */
	/* opacity: 1; */
	transition: width, height, opacity linear 5s;
}
.impact:hover::after {
	width: 500vh;
	height: 500vh;
	/* transform: scale(500%); */
	opacity: 0;
}

/*
div {
	color: var(--text);
}*/
/*@keyframes example {
	0% {
		background-color: red;
	}
	50% {
		background-color: aqua;
	}
	100% {
		background-color: yellow;
	}
}*/
.ba { /*button_animations*/
	position: absolute;
	left: 0vw;
	top: 95vh;
	z-index: 5.5;
	width: 0vw;
	height: 10vh;

	transition-duration: 0.2s;
	transition-property: width;
	/*transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/

	display: none;
	visibility: hidden;
}
#ba1 {
	background-color: #FF8B8B;
	transition-delay: 0s;
}
#ba2 {
	background-color: #F5FFA2;
	transition-delay: 0.2s;
}
#ba3 {
	background-color: #AAFFA2;
	transition-delay: 0.4s;
}
#ba4 {
	background-color: #9FD1FF;
	transition-delay: 0.6s;
}
#ba5 {
	background-color: #FFAEF7;
	transition-delay: 0.8s;
}

